body{
    background-color: rgb(240, 240, 240);
}
.box{
    margin: 0 auto;
    margin-top: 200px;
    margin-left: 100px;
   
    display: flex;
}
.key{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    padding: 30px;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 5px 20px rgba(100,100,100,0.8);
    background-color: rgb(245,245,245);
    transition: all 0.09s;
    

}
.playlist{
    box-shadow: 10px 10px 20px rgba(20,20,250,0.7);
    transform: scale(1.009);
}
#space{
    margin-right: 50px;
}
